.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.empty {
  font-size: 13px;
  color: var(--text4);
  text-align: center;
  padding: 2rem 0;
}
